.container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 60px;
  background-color: rgb(26, 26, 26);
  padding: 5px;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 5px;
  margin-top: 2px;
  margin-bottom: 2px;
}

.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: max-content;
  width: max-content;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.nameAlbumContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 20px;
  width: 100%;
  overflow: hidden;
}

.name {
  font-family: "Inter", sans-serif;
  font-size: 1.1rem;
  font-weight: 400;
  color: rgb(255, 255, 255);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  margin-bottom: 0;
  white-space: nowrap;
  overflow: hidden;
  max-width: 90%;
  text-overflow: ellipsis;
}

.name:hover {
  text-decoration: underline;
}

.album {
  font-family: "Inter", sans-serif;
  font-size: 0.8rem;
  font-weight: 300;
  color: rgb(165, 165, 165);
  white-space: nowrap;
  overflow: hidden;
  max-width: 90%;
  text-overflow: ellipsis;
}

.removeTrackBtn {
  background: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  color: white;
  margin-left: auto;
  cursor: pointer;
}

@media only screen and (max-width: 520px) {
  .name {
    font-size: 0.9rem;
  }

  .album {
    font-size: 0.7rem;
  }

  .removeTrackBtn {
    font-size: 1.9rem;
  }
}
