.container {
  --background-clr: 0, 0, 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  /* background: linear-gradient(rgb(var(--background-clr)), rgb(3, 3, 3) 50%); */

  background: linear-gradient(rgb(35, 35, 35) 0%, rgb(12, 12, 12) 50%);
  width: 100vw;
  height: max-content;
  overflow: visible;
}

.trackContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  width: 70vw;
  height: max-content;
  margin-top: 140px;
}

.trackCarouselContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: rgb(12, 12, 12);
  margin-top: 80px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.returnBtn {
  margin-right: auto;
  font-size: 3rem;
  cursor: pointer;
  margin-bottom: 50px;
}

.trackDataContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.trackImageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: max-content;
  width: max-content;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  margin-right: 10px;
}

.trackInfoContainer {
  display: flex;
  width: 60%;
  height: 100%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: auto;
  margin-bottom: auto;
}

.trackArtistsContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.trackInfoLabels {
  font-family: "Inter", sans-serif;
  font-weight: bold;
  font-size: 0.8rem;
  margin-top: auto;
  margin-bottom: 8px;
}

.trackName,
.trackAlbum,
.trackArtists {
  font-family: "Inter", sans-serif;
}

.trackName {
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 20px;
  margin-top: 10px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.trackAlbum {
  font-size: 2.2rem;
  font-weight: 400;
  margin-top: 0;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.trackArtists {
  font-size: 1.3rem;
  font-weight: 300;
  margin-top: 0;
  margin-right: 15px;
}

.trackPreviewError {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1.3rem;
  color: rgb(173, 173, 173);
}

.trackPlayerContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-top: auto;
}

.btnsContainer {
  display: flex;
  flex-wrap: wrap;
  margin-right: auto;
}

.toggleFromPlaylistBtn,
.openSpotifyBtn {
  position: relative;
  top: 0;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  font-size: 1.2rem;
  border: none;
  background-color: rgb(10, 10, 10);
  color: white;
  border-radius: 10px;
  width: max-content;
  height: max-content;
  cursor: pointer;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: auto;
  margin-top: 20px;
  transition: all 0.2s ease-in-out;
}

.openSpotifyBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

.spotifyLogo {
  margin-left: 5px;
}

.toggleFromPlaylistBtn:hover,
.openSpotifyBtn:hover {
  background-color: rgb(255, 255, 255);
  color: black;
  top: 5px;
}

@media only screen and (max-width: 920px) {
  .returnBtn {
    position: relative;
    top: 100px;
  }

  .trackContainer {
    margin-top: 15px;
    margin-bottom: 20px;
  }

  .trackDataContainer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .trackImageContainer {
    margin-right: 0;
  }

  .trackInfoContainer {
    margin-left: 0;
    width: 100%;
  }

  .trackName {
    display: unset;
    font-size: 2.5rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 70vw;
  }

  .trackInfoLabels,
  .trackAlbum,
  .trackArtists {
    margin-left: 5px;
  }

  .trackAlbum,
  .trackArtists {
    font-size: 1.2rem;
    color: rgb(172, 172, 172);
  }

  .trackCarouselContainer {
    margin-top: 0;
  }
}

@media only screen and (max-width: 700px) {
  .returnBtn {
    position: unset;
    top: 0;
    margin-top: 100px;
    margin-bottom: 0;
    font-size: 3rem;
  }
}

@media only screen and (max-width: 500px) {
  .returnBtn {
    margin-top: 70px;
  }
  .trackContainer {
    margin-top: 0;
    width: 80vw;
  }

  .trackImageContainer {
    width: 300px;
    margin-top: 0;
    margin-bottom: 20px;
  }

  .trackName {
    font-size: 2rem;
    margin-bottom: 10px;
  }

  .trackInfoLabels {
    display: none;
  }

  .trackAlbum,
  .trackArtists {
    font-size: 0.8rem;
    color: rgb(172, 172, 172);
  }

  .trackArtists {
    margin-right: 5px;
  }

  /* .trackPlayerContainer {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 3000;
  } */

  .openSpotifyBtn,
  .toggleFromPlaylistBtn {
    margin-left: 0;
  }

  .openSpotifyBtn {
    margin-right: 0;
  }

  .btnsContainer {
    justify-content: center;
    align-items: center;
    margin-right: 0;
  }
}
