@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap");

.navContainer {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 80px;
  backdrop-filter: saturate(180%) blur(5px);
  backface-visibility: hidden;
  border-bottom-style: solid;
  border-bottom-width: 0.5px;
  border-color: rgb(51, 51, 51);
  z-index: 100;
}

.navItemsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 80vw;
  max-width: 1920px;
  height: 100%;
}

.navLogoContainer {
  margin-right: auto;
  margin-left: 140px;
}

.navLogo {
  font-family: "Inter", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  color: white;
  cursor: pointer;
  z-index: 1002;
}

.navLinksContainer {
  display: flex;
  flex-direction: row;
  margin-right: auto;
  margin-left: auto;
}

.navLinks {
  font-family: "Inter", sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
  color: rgb(161, 161, 161);
  margin: 10px;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.navLinks:hover,
.navLinks:focus {
  color: rgb(236, 236, 236);
}

.authLinks {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: auto;
}

.navLoginState {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.navProfileIcon {
  color: rgb(100, 100, 100);
  font-size: 1.1rem;
  margin-right: 10px;
}

.navUsername {
  font-family: "Inter", sans-serif;
  color: rgb(100, 100, 100);
  font-size: 1.1rem;
  font-weight: 500;
  margin-right: 20px;
}

.loginBtn {
  border: none;
  font-family: "Inter", sans-serif;
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
  background-color: white;
  color: black;
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 6px;
  padding-bottom: 6px;
  margin-right: 140px;
}

.mobileNavBtn {
  display: none;
}

@media only screen and (max-width: 920px) {
  .navLogoContainer {
    margin-left: 40px;
  }
  .mobileNavBtn {
    display: block;
    z-index: 200;
    margin-right: 40px;
  }

  .navItemsContainer {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    height: 105vh;
    width: 100vw;
    display: flex;
    background-color: rgb(5, 5, 5);
    left: 50%;
    top: -55%;
    transform: translate(-50%, 40px);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(5, 5, 5);
  }

  .navItemsContainer.active {
    visibility: visible;
    opacity: 1;
  }

  .navLinksContainer {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 0;
    margin-left: 0;
  }

  .authLinks {
    flex-direction: column;
    margin-left: 0;
  }

  .navLinks,
  .loginBtn {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold;
    color: white;
  }

  .loginBtn {
    background: none;
    margin-right: 0;
  }

  .navLoginState {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .navProfileIcon,
  .navUsername {
    margin-right: 0;
  }
}
