.container {
  position: relative;
  top: 0;
  width: 230px;
  height: 370px;
  min-height: 370px;
  min-width: 230px;
  padding: 1px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Inter", sans-serif;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  background-color: rgb(26, 26, 26);
}

.container:hover {
  top: 8px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  background-color: rgb(39, 39, 39);
}

.trackItem {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 20px;
  border-radius: 5px;
}

.trackImageContainer {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.trackImage {
  width: 100% !important;
  height: 100% !important;
}

.nameAndArtistsContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-right: auto;
  height: 100%;
}

.trackName {
  font-size: 1rem;
  font-weight: bold;
  font-family: "Inter", sans-serif;
  margin-bottom: auto;
}

.artistsContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-top: auto;
}

.artistsContainerText {
  font-size: 0.7rem;
  font-weight: 300;
  font-family: "Inter", sans-serif;
  margin: 0;
}

.albumName {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-right: auto;
}

.albumNameText {
  font-size: 0.7rem;
  font-weight: 300;
  font-family: "Inter", sans-serif;
  opacity: 0.8;
  margin-bottom: 0;
}

@media only screen and (max-width: 850px) {
  .trackItem {
    padding: 15px;
  }

  .container {
    width: 180px;
    height: 260px;
    min-height: 280px;
    min-width: 180px;
  }
}

@media only screen and (max-width: 420px) {
  .container {
    width: 90%;
    height: max-content;
    min-height: 180px;
    min-width: 90%;
  }

  .trackItem {
    flex-direction: row;
  }

  .trackImageContainer {
    min-width: 140px;
    max-width: 150px;
    max-height: 150px;
    min-height: 140px;
    margin: 0;
  }

  .nameAndArtistsContainer {
    margin-left: 15px;
    align-items: flex-start;
    height: 130px;
  }

  .artistsContainer {
    margin-top: 0;
  }

  .trackName {
    margin-top: 0;
    margin-bottom: 20px;
  }

  .albumName {
    margin-top: 10px;
  }
}
